/* UNIVERSAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* MAIN-CONTAINER */
.main-container {
    width: 100%;
    min-height: 655px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: rgb(165, 160, 160);
}

/* SECTION */
section {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 1s;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

section:hover {
    transform: scale(1.1);
}

section img {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    filter: brightness(50%);
}

.share-like {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    padding: 10px;
    visibility: hidden;
}

section:hover .share-like {
    visibility: visible;
}

.share-like i {
    color: white;
    font-size: 20px;
    padding: 5px;
    border: 1px solid rgb(139, 137, 137);
}

.share-like i:nth-child(1):hover {
    color: skyblue;
}

.share-like i:nth-child(2):hover {
    color: orangered;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    bottom: 50px;
    right: 10px;
    visibility: hidden;
}

section:hover .social-media {
    visibility: visible;
}

.social-media i {
    font-size: 20px;
    padding: 3px;
    color: white;
    border: 1px solid rgb(139, 137, 137);
    border-radius: 5px;
}

.social-media i:nth-child(1) {
    padding: 3px 6.5px;
}

.social-media i:nth-child(2) {
    padding: 3px 4.5px;
}

.social-media i:nth-child(1):hover {
    color: navy;
}

.social-media i:nth-child(2):hover {
    color: rgb(218, 99, 119);
}

.social-media i:nth-child(3):hover {
    color: rgb(13, 130, 177);
}

.social-media i:nth-child(4):hover {
    color: red;
}

.name {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    bottom: 5px;
    padding: 10px;
    gap: 10px;
    visibility: hidden;
}

section:hover .name {
    visibility: visible;
}

.name i {
    font-size: 20px;
    color: black;
    background-color: rgb(139, 137, 137);
    padding: 8px;
    border-radius: 50%;
}

.name h4 {
    font-family: cursive;
    color: white;
    font-size: 25px;
}

@media only screen and (min-width:300px) and (max-width:450px) {
    .main-container {
        padding: 25px 0px;
    }
    
    section {
        width: 280px;
    }

    section img {
        width: 280px;
        height: 430px;
    }
}

@media only screen and (min-width:450px) and (max-width:550px) {
    .main-container {
        padding: 30px 0px;
        gap: 50px;
    }

    section {
        width: 370px;
    }

    section img {
        width: 370px;
        height: 520px;
    }
}

@media only screen and (min-width:551px) and (max-width:629px) {
    .main-container {
        padding: 30px 0px;
        gap: 50px;
    }

    section {
        width: 420px;
    }

    section img {
        width: 420px;
        height: 540px;
    }
}


@media only screen and (min-width:630px) and (max-width:680px) {
    .main-container {
        padding: 30px 0px;
        gap: 30px;
    }

    section {
        width: 280px;
    }

    section img {
        width: 280px;
        height: 430px;
    }
}


@media only screen and (min-width:681px) and (max-width:750px) {
    .main-container {
        padding: 30px 0px;
        gap: 30px;
    }
}


@media only screen and (min-width:751px) and (max-width:800px) {
    .main-container {
        padding: 40px 0px;
        gap: 30px 30px;
    }

    section {
        width: 340px;
    }

    section img {
        width: 340px;
        height: 470px;
    }
}


@media only screen and (min-width:801px) and (max-width:900px) {
    .main-container {
        padding: 40px 0px;
        gap: 30px 50px;
    }

    section {
        width: 350px;
    }

    section img {
        width: 350px;
        height: 480px;
    }
}


@media only screen and (min-width:901px) and (max-width:1000px) {
    .main-container {
        padding: 40px 0px;
        gap: 30px;
    }

    section {
        width: 390px;
    }

    section img {
        width: 390px;
        height: 520px;
    }
}

@media only screen and (min-width:1001px) and (max-width:1100px) {
    .main-container {
        padding: 40px 0px;
        gap: 30px 50px;
    }

    section {
        width: 420px;
    }

    section img {
        width: 420px;
        height: 550px;
    }
}


@media only screen and (min-width:1101px) and (max-width:1200px) {
    .main-container {
        gap: 40px 20px;;
    }

    section {
        width: 210px;
    }

    section img {
        width: 210px;
        height: 360px;
    }
}

@media only screen and (min-width:1201px) and (max-width:1330px) {
    .main-container {
        gap: 40px;
    }

    section {
        width: 250px;
    }

    section img {
        width: 250px;
        height: 400px;
    }
}



